In [1]:
import pandas as pd
import requests

In [2]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [3]:
temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [4]:
temp_df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,36.1790,8.714,29390
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,35.4978,8.685,22177
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,14.8413,8.600,13404
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,12.9015,8.566,16926
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,11.5041,8.549,9596

In [5]:
dfs = []

In [ ]:
for i in range(1, 429):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    dfs.append(temp_df)

df = pd.concat(dfs, ignore_index=True)